.menu-option {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.name {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    background-color: rgb(60, 64, 67);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    white-space: nowrap;
}